.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    text-align: center;
    font-size: 1.25rem;
}

.homeImage img {
    border-radius: 50%;
    object-fit: cover;
}
